* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Merriweather", serif;
	background-color: #ecf1ff;
}

/* ------------ NAVBAR -------------- */
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: #fff;
}

.navbar__brand {
	width: 25%;

	max-width: 120px;
}

.navbar__logo {
	width: 100%;
}

.navbar__nav__items {
	display: flex;
	align-items: center;
}

.button__primary {
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 60%);
	color: #fff;

	border: none;
	border-radius: 0.55em;

	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;

	font-size: 0.9em;
	font-weight: 600;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

.button__primary:hover {
	background-image: linear-gradient(to right, #dd2476 0%, #ff512f 61%);
	cursor: pointer;
}

/* ------------ MAIN ------------- */
.container {
	width: 96%;

	padding-top: 2.5em;
	padding-left: 2%;
	padding-right: 2%;

	margin: 0 auto;
}

.hero__container {
	margin-top: 0.5em;
}

.hero__image__container {
	padding-top: 3em;
	padding-bottom: 3em;

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url(../assets/svg/heroShape.svg),
		url(../assets/svg/herobgpattern.svg);
	background-repeat: no-repeat;
}

.hero__image {
	width: 95%;

	position: relative;
	top: -0.5em;

	box-shadow: 0 0 0.5rem #afafaf;

	border-radius: 0.25em;
}

.hero__text {
	margin: 1em 0;

	font-size: 1.8em;
	font-weight: 800;
	color: #1d3557;
}

.hero__order__button {
	margin: 0 auto;
}

.explore__menu__container {
	margin-top: 2.5em;

	width: 100%;
}

.explore__menu__text {
	padding-bottom: 1em;

	font-size: 1.8em;
	font-weight: 800;
	color: #1d3557;

	text-align: center;
}

.explore__menu__lists {
	margin: 0 auto;
	width: 95%;
}

.food__card {
	margin: 1.5em auto;
	padding-bottom: 1em;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;

	box-shadow: 0.1em 0.1em 0.25em #b8b8b8;
	background-color: #f8f8f8;
}

.food__card__image__container {
	width: 100%;

	padding-bottom: 0.2em;
}

.food__card__image {
	width: 100%;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.food__card__description {
	padding-top: 0.5em;
	padding-left: 0.5em;
}

.plus__span__text {
	color: #ff0800;
}

.stay__updated__container {
	padding: 1em 0;
	margin: 2em 0;
	width: 100%;
}

.stay__updated__text {
	text-align: center;

	font-size: 1.8em;
	font-weight: 800;

	color: #1d3557;
}

.stay__updated__form {
	padding: 1.5em 0;

	display: flex;
	gap: 0.5em;
	justify-content: space-evenly;
	align-items: center;
}

#stay__updated__email {
	padding: 0.2em 0.5em;

	font-size: 1em;

	border: 1px solid #fff;
	border-radius: 0.5em;
}

.stay__updated__quote__card {
	padding: 0.5em 0;

	width: 100%;
	position: relative;
}

.stay__updated__quote__card__bg {
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-image: url(../assets/stay__updated__restaurant.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	border-radius: 0.5em;

	filter: brightness(60%);

	z-index: -3;
}

.stay__updated__quote__card__text {
	padding: 1em 1.5em;

	text-align: center;

	color: #fff;
}

footer {
	background-image: linear-gradient(
		to right,
		#ff512f 0%,
		#dd2476 60%,
		#ff512f 100%
	);
	color: white;
}

.footer__container {
      margin: 0 auto;
      width: 90%;

      display: flex;
      flex-direction: column;
      align-items: center;
}

.footer__brand__logo__container {
      margin: 0 auto;

      width: 90%;
}

.footer__brand__logo {
      width: 100%;
}

.footer__links__container {
      padding-bottom: 1.5em;
}

.footer__link {
      font-size: 1.1em;
      line-height: 1.5em;
      text-decoration: underline;
}

.footer__copyright{
      margin: 0 auto;
      padding: 0.5em 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;

	color: #ffd4d4;
}

/* TABLET VIEW */
@media screen and (min-width: 768px) {
	.navbar {
		padding-left: 1em;
		padding-right: 1em;

		justify-content: space-between;
	}

	.navbar__brand {
		max-width: 150px;
	}

	.button__primary {
		font-size: 1em;
	}

	.hero__container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.hero__image__container {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.hero__image {
		width: 100%;
	}

	.explore__menu__container {
		margin: 2em 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.explore__menu__lists {
		margin-top: 1em;

		width: 92%;

		display: flex;
		gap: 1em;
		justify-content: space-between;
	}

	#pizza__card {
		position: relative;
		top: -1em;
	}

	.stay__updated__container {
		margin: 0 auto;
		padding: 1em 0;

		width: 75%;
	}

	.stay__updated__form {
		padding-bottom: 2.5em;

		justify-content: center;
		gap: 1em;
	}

	.stay__updated__quote__card__text {
		margin: 0 auto;

		width: 60%;

		font-size: 2em;
	}

	.footer__container__link {
		font-size: 1.2em;
	}

	.footer__container__copyright {
		font-size: 1.2em;
	}
}

/* LAPTOP/PC VIEW */
@media screen and (min-width: 1024px) {
	.navbar {
		padding-left: 2em;
		padding-right: 2em;

		justify-content: space-between;
	}
	.container {
		padding-top: 2em;
	}

	.hero__container {
		padding: 1em 0;

		display: flex;
		gap: 1em;
		justify-content: space-between;

		width: 60%;

		margin: 0 auto;
	}

	.hero__image__container {
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.hero__image {
		position: relative;
		top: -1em;
	}

	.hero__description {
		width: 100%;
	}

	.hero__text {
		font-size: 2.8em;
	}

	.explore__menu__container {
		margin: 0 auto;

		width: 70%;

		position: relative;
	}

	.explore__menu__gradient__bg {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

		background-image: linear-gradient(
			to right,
			#ff512f 0%,
			#dd2476 51%,
			#ff512f 100%
		);

		z-index: -3;

		transform: skewX(-5deg);
	}

	.explore__menu__text {
		font-size: 2.8em;
	}

	.food__card {
		box-shadow: 0 0 0.8em 0.1em #313131;
	}

	.footer__brand__logo {
		margin: 0 auto;

		max-width: 300px;
	}

	.footer__container {
            margin: 0 auto;
		padding: 2em 0;

		width: 90%;

		position: relative;

		display: flex;
            flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

      .footer__links {
            width: 100%;
      }

	.footer__link {
            font-size: 1.1em;
		line-height: 1.4em;
		text-decoration: underline;
	}

	.footer__copyright {
		padding: 0.5em 0;

            font-size: 1.3em;

		text-align: center;
	}
}